.web-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #ecf0f3;
  color: #555;
  overflow-y: auto;
}


.web-container{
  position: absolute;
  z-index: 12;
  min-height: 50%;
  min-width: 38%;
  max-width: 50%;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  box-shadow: 13px 13px 23px #cbced1,
  -13px -13px 23px white;
  border-radius: 36px;
  max-height: calc(100% - 100px);
  overflow-y: auto;
}
.web-header{
  position: relative;
  padding-bottom: 12px;
  font-size: 22px;
  margin-bottom: 22px;
}

.submit-button{
  display: block;
  margin: auto;
  width:100%;
  height: 38px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 28px;
  color: #b1b1b1;
  margin-top: 8px;
  margin-bottom: 16px;
  box-shadow: 3px 3px 8px #b1b1b1,
  -3px -3px 8px white;
  /* transition:
    background-color 2s,
    color 1s;
    background-color: #cbced1, */
}
.submit-button:hover{
  background-color: #ecf0f3;
  box-shadow: inset 3px 3px 8px #b1b1b1,
inset  -3px -3px 8px #ecf0f3;
}
.submit-button:active{
  background-color: #ecf0f3;
  box-shadow: inset 3px 3px 8px #b1b1b1,
inset  -3px -3px 8px #ecf0f3;
}
.t-container{
box-shadow: inset 2px 2px 6px #cbced1,
inset -6px -6px 9px white;
background: #ecf0f3;
border-radius: 6px;
}