.sign-up-web {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #ecf0f3;
  color: #555;
  overflow-y: auto;
}
.Title-header {
  text-align: center;
}

.sign-up-container {
  position: absolute;
  z-index: 12;
  min-height: 50%;
  min-width: 38%;
  max-width: 50%;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  box-shadow: 13px 13px 23px #cbced1,
  -13px -13px 23px white;
  border-radius: 36px;
  max-height: calc(100% - 100px);
  overflow-y: auto;
}

.sign-up-header {
  position: relative;
  padding-bottom: 12px;
  font-size: 22px;
  margin-bottom: 22px;
  
}
.sign-up-header::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(243, 46, 46);
  width: 300px;
  font-weight: bold;
  left: 0;
  bottom: 0;
}

input {
  background-color:#ecf0f3;
  padding: 16px 32px ;
  border: none;
  display: block;
  width: 100%;
  height: 50px;
  color:#a9b8c9;
  -webkit-appearance: none;
  transition:all 300ms ease-out;

  /* display: block;
  width: 100%;
  height: 50px;
  padding: 23px 8px 23px 6px;
  margin-bottom: 16px;
  border: none;
  outline: none;
  border-radius: 26px;
  background: none;
  color: black;
  box-shadow:  inset 8px 8px 8px #cbced1,
  inset -8px -8px 8px  white; */
&::placeholder{
  color: #6d7f8f;
}
&:focus{
  outline: none;
  color: #6d7f8f;
  background-color: lighten(#e3edf7, 3%);;
}
}

.input-element {
box-shadow: inset 2px 2px 6px #cbced1,
inset -6px -6px 9px white;
background: #ecf0f3;
border-radius: 6px;

}

.sign-up-button {
  display: block;
  margin: auto;
  width: 60%;
  height: 38px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 28px;
  color: #b1b1b1;
  margin-top: 8px;
  margin-bottom: 16px;
  box-shadow: 3px 3px 8px #b1b1b1,
  -3px -3px 8px white;
  /* transition:
    background-color 2s,
    color 1s;
    background-color: #cbced1, */
}
.sign-up-button:hover {
  background-color: #ecf0f3;
  box-shadow: inset 3px 3px 8px #b1b1b1,
inset  -3px -3px 8px #ecf0f3;
}
.sign-up-button:active {
  background-color: #ecf0f3;
  box-shadow: inset 3px 3px 8px #b1b1b1,
inset  -3px -3px 8px #ecf0f3;
}
.sign-up-tex {
  text-align: center;
}

.error-message {
  font-size: 14px;
  color:rgb(243, 46, 46);
}
